{% extends "index.html" %}
{% block body %}
<div class="container">
    <h1>Movie Genre Admin</h1>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Genre</th>
            <th>Movie</th>
        </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
        <tr>
            <td>{{genre[0]}}</td>
            <td>{{genre[1]}}</td>
            <td>
                <form action="/staff/genres/" method="post">
                    <input type="hidden" value="{{genre[2]}}" name="delete_id">
                    <input type="hidden" value="{{genre[0]}}" name="delete_genre">
                    <input class="btn-danger" type="submit" value="DELETE">
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Add Genre:</h3>
    <form action="/staff/genres/" method="post">
        Movie: <select name="new_movie">
            <option value=""></option>
            {% for movie in movies %}
            <option value="{{movie[0]}}">{{movie[1]}}</option>
            {% endfor %}
        </select>
        Genre: <input type="text" name="new_genre" value="">
        <input class="btn-success" type="submit" value="Add">
    </form>
</div>
<br>
<br>
{% endblock %}